azul=#133361
amarillo=#f5ae0f
@font-face
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?fz9anl');
	src:url('../fonts/icomoon.eot?#iefixfz9anl') format('embedded-opentype'),
		url('../fonts/icomoon.woff?fz9anl') format('woff'),
		url('../fonts/icomoon.ttf?fz9anl') format('truetype'),
		url('../fonts/icomoon.svg?fz9anl#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;

body
	background #efefef
	font-size 16px
	font-family arial
header
	overflow hidden
	background #133361
	position relative
	min-height 55px
	border-bottom 5px solid #f5ae0f
	

	
	div.menu
		height 60px
		float left
		p
			font-family icomoon
			color #fff
			font-size 20px
			margin 0
			padding 9px
			&:before
				content "\e606"
	div.titulos

		color #fff
		width 83%

		h1
			margin 5px 0 0 0	
			font-size 20px
		h2
			margin 0 0 5px 0
			font-size 14px
			font-weight normal
			font-style italic
	figure.logo
		
		width 50px
		height 50px
		float right
		margin 0
		top 0
		position absolute
		right 2px
		top 3px
		background #fff
		border-radius 10px
		img
			height 49px
			width 49px
section.carreras
	background #efefef
	text-align center
	position relative 
	&:before
		top -15px
		left 45%
		position absolute
		content ""
		border-top 20px solid amarillo
		border-left 20px solid transparent
		border-right 20px solid transparent 

	h2
		text-align center
		margin 15px 0 10px 0
	figure.bolita
		vertical-align top
		display inline-block
		margin 0px 35px 75px 35px 		
		width 80px
		height 80px
		figcaption
			h3
				font-size 14px
		img
			border-top 4px solid amarillo
			border-right 4px solid amarillo
			border-left 4px solid azul
			border-bottom 4px solid azul
			width 77px
			height 77px
			border-radius 50%
section.mision
	background #fff
	border-bottom 5px solid #f5ae0f
	h2
		background azul
		color #fff
		text-align center
		padding 4px
	p
		padding 8px
		text-align left

section.video
	video
		width 100%
section.noticias
	border-bottom 4px solid amarillo
	h2
		text-align center
		background amarillo
		color #fff
		margin 0

	figure
		
		width 90%
		margin 2% 5%
		img
			width 100%
	p
		padding 5px
		text-align left
		
section.informes
	h2
		margin 0
		background azul
		color #fff
		text-align center
		padding 5px
	p.txtInformes
		margin 3px 
		font-weight bold
		font-style italic
	p.face,p.twitter,p.youtube,p.google,p.ins,p.cont
		font-family icomoon
		font-size 25px
		width 45px
		display inline-block
		margin-left 5px 
	p.face:before
		content: "\e603";
	p.twitter:before
		content: "\e604";
	p.youtube:before
		content: "\e605";
	p.google:before
		content: "\e602";
	p.ins:before
		content: "\e600";
	p.cont:before
		content: "\e601";
footer
	background azul
	color #fff
	padding 8px
	text-align center
	p
		margin 5px 0 0 0
	p.contacto
		font-weight bold